body {
    overflow: hidden; /* Hide the scrollbar of the body */
  }
  
  .reagent-list {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .reagent-list h1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }
  
  .reagent-list .tableContainer{
    border: 5px solid black;
  }

  .reagent-list .tableWrapper {
    /* margin-top: 100px;  */
    /* height: calc(100vh - 150px);  */
    max-height: 300px;
    
    padding-top: 10px;
  }

  ::-webkit-scrollbar {
    width: 9px; /* Width of the scrollbar */
    height: 5px; /* Height of the scrollbar */
  }
  
  /* Styling the track (background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: gainsboro;
  }
  
  /* Styling the thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 66, 12); /* Color of the scrollbar thumb */
  }